.SlotMachineTs{
  display: flex;
  width: 98vw;
  height: 98vh;

  & .slot{
    display: grid;
    margin: 0 2px;

    & ul{
      margin: 0;
      padding: 0;

      & li{
        height: 110px;
        list-style: none;
        background-color: #eee;
        padding: 0px 10px;
      }
    }
  }

  & .icon{
    width: 80px;
    height: 100px;

  //  animation: wiggle 0.4s linear infinite;
  }

  & .wrap{
    display: flex;
    width: 100%;

    & .title{
      position: absolute;
      top: 5%;
      left: 5%;
    }

    & .refresh{
      position: absolute;
      top: 5%;
      right: 10%;
    }

    & .slots{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      font-size: 1.8em;
      line-height: 1.3;


      & .col{
        display: flex;
        //height: 340px;
        overflow: hidden;
        border: 8px solid #FF9800;
        padding: 0 3px;

        animation: NeonBack 1s 0s ease infinite;
        -moz-animation: NeonBack 1s 0s ease infinite;
        /* Firefox */
        -webkit-animation: NeonBack 1s 0s ease infinite;
        /* Safari and Chrome */
        -o-animation: NeonBack 1s 0s ease infinite;
        /* Opera */


      }



    }

  }

  & .newSpin{
    animation:blur 1s cubic-bezier(.5,0,.5,1) 1;
  }

  & .spinning{
    animation: scroll 3s cubic-bezier(.5,0,.5,1) 1, blur 3s cubic-bezier(.5,0,.5,1) 1;
  }

  @keyframes NeonBackEnd {
    0%,
    100% {
      -webkit-box-shadow: 0px 0px 58px 0px rgb(255, 92, 24);
      -moz-box-shadow: 0px 0px 58px 0px rgba(255, 92, 24,1);
      box-shadow: 0px 0px 58px 0px rgba(255, 92, 24,1);
    }
    50% {
      -webkit-box-shadow: 0px 0px 58px 0px rgba(92,7,4,1);
      -moz-box-shadow: 0px 0px 58px 0px rgba(92,7,4,1);
      box-shadow: 0px 0px 58px 0px rgba(92,7,4,1);

    }
  }

  @keyframes scroll {
    0% {transform: translate3d(0,0,0);}
    90% {transform: translate3d(0,calc(-100% + 328px),0);}
    100% {transform: translate3d(0,calc(-100% + 332px),0);}
  }
  @keyframes blur {
    0% {filter: blur(0);}
    10% {filter: blur(0);}
    30% {filter: blur(6px);}
    60% {filter: blur(6px);}
    80% {filter: blur(0);}
  }

  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
  }

}